<article class="post-data">
  <div class="title">
    <h2>{{title}}</h2>
  </div>
  <div class="data">
    Created by {{user.username}} on {{created_at}}
    |
    <a href="/api/post/{{id}}">{{comments.length}}</a>
  </div>
  <div class="data"> Author {{author}} ISBN {{isbn}}</div>
</article>