<article class="post-data">
  <div class="title">
    <h1>{{title}}</h1>
  </div>
  <div class="meta">
    Created by {{user.username}} on {{created_at}}
    |
    <a href="/api/post/{{id}}">{{comments.length}}</a>
  </div>
</article>